@keyframes fade
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

html
{
	background-color: #F0F0F0;
	font-family: Open Sans
}

html, body
{
	margin: 0;
	height: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	color: black;
}

li
{
	list-style: none;
}

header, #content
{
	margin: 0% 15%;
	display: block;
}

#content
{
	z-index: -100;
	padding: 1% 0%;
	margin: 0% 18%;
	animation: fade 1s;
}

h1, h2, h3
{
	font-weight: lighter;
}


#logo
{
	margin-top: 3%;
	margin-left: 5%;
	width: 25em;
	max-width: 100%;
}

h2
{
	margin-left: 5%;
}

h3
{
	margin-left: 0%;
}

h4
{
	font-weight: lighter;
}

.object
{
	margin: 0% 8%;
}

.desc
{
	margin: 1% 3.5%;
}

#list li
{
	font-size: 200%;
	padding: 1% 1%;
	transition: 0.5s;
}

#list li:hover
{
	background-color: #E6E6E6;
}

#list img
{
	margin: 0;
	width: 8em;
	max-width: 100%;
}

#list p
{
	font-size: 50%;	
}

#navigation
{
	padding: 0.3% 19%;
}

#navigation li
{
	display: inline;
}

nav
{
	background-color: #00CCFF;
	box-shadow: 0em 0.3em 0.5em #888888;
}

nav a
{
	text-decoration: none;
	color: white;
	font-size: 1.3em;
	padding: 0.5% 2%;
	transition: 0.5s;
}

nav a:hover
{
	background-color: #1E90FF;
	box-shadow: 0em 0.3em 0.5em #1E90FF;
}

#contact a
{
	transition: 0.25s;
}

#contact a:hover
{
	color: #00CCFF;
}

#contact a:active
{
	color: #1E90FF;
}

footer
{
	text-align: center;
}