@keyframes fade
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

html
{
	background-color: black;
	font-family: Open Sans
}

html, body
{
	margin: 0;
	height: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	color: white;
}

li
{
	list-style: none;
}

header, #content
{
	margin: 0% 15%;
	display: block;
}

#content
{
	z-index: -100;
	padding: 1% 0%;
	margin: 0% 18%;
	animation: fade 1s;
}

h1, h2
{
	font-weight: lighter;
}


h1
{
	margin-top: 3%;
	margin-left: 5%;
	width: 25em;
	max-width: 100%;
}

h1 a
{
	transition: 0.5s;
}

h1 a:hover
{
	color: lightgrey;
}

h1 a:active
{
	color: grey;
}

h2
{
	margin-left: 5%;
}

.object
{
	margin: 0% 8%;
}

.desc
{
	margin: 1% 3.5%;
}

#list li
{
	font-size: 200%;
	padding: 1% 1%;
	transition: 0.5s;
	color: white;
}

#list li:hover
{
	background-color: lightgrey;
	color: grey;
}

#list li:active
{
	background-color: grey;
	color: white;
}

#list p
{
	font-size: 50%;	
}

footer
{
	text-align: center;
	color: white;
}