@keyframes fade
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

html
{
	background-color: black;
	font-family: Open Sans;
	text-align: center;
	animation: fade 1s;
}

html, body
{
	margin: 0;
	padding: 0;
}

body
{
	height: 100%;
    margin: 17% 0%;
}

h1
{
	font-size: 4em;
	margin: auto;
}

a
{
	color: white;
	text-decoration: none;
}

#content code
{
	color:green;
	font-size: 120%;
	margin-bottom: -14%;
}

nav
{
	font-size: 220%;
	margin-top: 5%;
	transition: 0.5s;
}

nav a
{
	padding: 0% 1%;
	transition: 0.5s;
}

nav a:hover
{
	color: lightgrey;
}

nav a:active
{
	color: grey;
}

#logo
{
	transition: 0.5s;

}

#logo:hover
{
	filter: brightness(80%);
	
}

#logo:active
{
	filter: brightness(50%);
}

#email
{
	font-size: 125%;
}

footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
}